/* imports */
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=IM+Fell+Double+Pica+SC&family=Outfit&display=swap');

/* Variables declaration */
:root {
  --bg-color-main: purple;
  --bg-color-light: rgb(173, 94, 165);
  --font-color-main: white;
  --border-style-main: solid 1px black;
  --font-style: Franklin Gothic Medium;
  --outfit-font: 'Outfit', sans-serif;
}


body {
  margin: 0;
  font-family: var(--outfit-font);
  background-color: var(--bg-color-main);
}



/* Heading */
.header {
  margin: 0;
  font-family: var(--outfit-font);
  font-weight: 400;
  text-align: center;
  background-color: purple;
  color: white;
  font-size: calc(min(6vh, 40px));
  width: 100vw;
}



/* Searchbox + inputbox + add btn + backgound white color */
.SearchBar {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

#search {
  width: 80vw;
  max-width: 600px;
  height: calc(min(5vh, 30px));
  border-radius: 4%;
  border: var(--border-style-main);
  font-family: var(--outfit-font);
  font-size: calc(min(4vh, 20px));
}

.inputTask {
  display: flex;
  justify-content: center;
  align-items: center;
}

#input {
  width: 75vw;
  max-width: 580px;
  border-radius: 4%;
  height: calc(min(5vh, 30px));
  font-family: var(--outfit-font);
  font-size: calc(min(4vh, 20px));
  border: var(--border-style-main);
}

.add-on-btn {
  background-color: green;
  position: relative;
  width: calc(min(6vw, 30px));
  height: calc(max(10%, 20px));
  border-radius: 5px;
  border: var(--border-style-main);
}

.add-on-btn:hover {
  background-color: rgb(0, 159, 0);
}

.content {
  color: var(--font-color-main);
  background-color: var(--bg-color-light);
}




/* List heading */
.heading {
  text-align: center;
  color: white;
  font-family: var(--outfit-font);
  font-size: calc(min(4vh, 40px));
}


/* list styling  */
.listContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listItems {
  height: calc(max(5vh, 20px));
  font-family: var(--outfit-font);
  font-size: calc(min(4vh, 20px));
  display: grid;
  grid-template-columns: calc(min(64vw, 600px)) auto;
  background-color: white;
  align-items: center;
  border-radius: 5px;
  padding: 0 1vw 0 1vw;
  margin: 2% 0 2% 0;
}

.checkbox {
  width: calc(min(4vw, 20px));
  height: calc(min(4vw, 20px));
  color: var(--bg-color-main)
}

.checkbox:checked {
  background-color: var(--bg-color-main);
  color: var(--bg-color-main);
  user-select: auto;
}

.listItem-value {
  text-align: center;
  overflow: auto;
  padding-bottom: 0.5vh;
}

.FaTrashAlt {
  margin-top: 0.5vh;
  background-color: red;
  height: calc(max(4vh, 20px));
  border-radius: 7px;
}

.FaEdit {
  margin-top: 0.5vh;
  background-color: orange;
  height: calc(max(4vh, 20px));
  border-radius: 7px;
}

.index {
  font-size: 100%;
  width: calc(min(10vw, 70px));
}


/* Footer */
.footer {
  position: fixed;
  bottom: 0%;
  margin: 0;
  font-family: var(--outfit-font);
  font-weight: 400;
  text-align: center;
  background-color: purple;
  color: white;
  font-size: calc(min(4vh, 20px));
  width: 100vw;
}